*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old

documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.i
*.d
*.dbgdt
*.crun
*.bat
*.ps1
*.scl
*.dnx
*.regroups
*.wsdt
tools/kconfig-frontends/kconfig-mconf
packages
cconfig.h
GPUCache
*.vs/
*bin/
*obj/
#cscope files
cscope.*
ncscope.*

#ctag files
/samples/linux/output/*

/samples/none_os/iar/Debug/*
/samples/none_os/iar/settings/*

/samples/none_os/mdk/Debug
/samples/none_os/mdk/list
/samples/none_os/mdk/obj
/samples/none_os/mdk/DebugConfig

